html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Sansation";
  src: url("../font/Sansation/Sansation_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Sansation";
  src: url("../font/Sansation/Sansation_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Sansation";
  src: url("../font/Sansation/Sansation_Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container:after, .container::before {
  display: table;
  content: "";
  clear: both;
}

body {
  height: 3000px;
}

.headline {
  text-transform: uppercase;
  font-family: Sansation, sans-serif;
  color: #f7f7f7;
}

h1.headline {
  font-size: 40px;
}

h2.headline {
  font-size: 24px;
}

.caption {
  font-family: Sansation, sans-serif;
  color: #f7f7f7;
  font-size: 14px;
}

.button {
  display: block;
}

.header {
  background: url(../img/header/header-bg.jpg) center 10%/cover no-repeat;
}
.header .nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
}
.header .logo {
  margin-left: 30px;
  color: #ffffff;
  font-family: Sansation, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.header .logo span {
  color: #da2346;
}
.header .menu {
  width: 637px;
  display: flex;
  justify-content: space-between;
}
.header .menu a {
  font-family: Sansation, sans-serif;
  color: #ffffff;
  transition: color 0.2s ease-in;
}
.header .menu a:hover {
  color: #06bfcf;
}
.header .share {
  display: flex;
  justify-content: space-between;
  margin-right: 42px;
  width: 85px;
}
.header .share a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: border 0.2s ease-in;
  border-radius: 50%;
  height: 30px;
  width: 25px;
  display: flex;
}
.header .share a img {
  margin: auto;
}
.header .share a:hover {
  border: 1px solid rgba(6, 191, 207, 0.9);
}
.header .caption-panel {
  position: relative;
  width: 536px;
  margin: 126px auto 163px auto;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .caption-panel .headline {
  margin-top: 40px;
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}
.header .caption-panel .caption {
  margin-top: 28px;
  opacity: 0.7;
  color: #ffffff;
  width: 332px;
  text-align: center;
  line-height: 18px;
}
.header .caption-panel .button {
  padding: 10px 30px;
  font-size: 12px;
  position: relative;
  top: 19px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ease-in, border 0.3s ease-in;
}
.header .caption-panel .button:hover {
  background-color: rgba(6, 191, 207, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.header .caption-panel::before, .header .caption-panel::after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  width: 215px;
  height: 1px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}
.header .caption-panel::before {
  left: -2px;
}
.header .caption-panel::after {
  right: -2px;
}

.about-us .container {
  background: url(../img/about-us/about-us_bg.jpg) top left/50% no-repeat;
}
.about-us .caption-panel {
  width: 390px;
  margin: 50px 0 92px 54%;
  display: flex;
  flex-direction: column;
}
.about-us .caption-panel .headline {
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}
.about-us .caption-panel .caption {
  color: black;
  margin: 30px 0 0 0;
}
.about-us .caption-panel .button {
  align-self: flex-start;
  padding: 9px 26px;
  font-size: 9px;
  background: #06bfcf;
  border-radius: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 42px;
}

.our-services {
  background: #373737;
}
.our-services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-services .container h1.headline {
  margin-top: 46px;
}
.our-services .container .services-list {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}
.our-services .container .services-list .services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 144px 15px 137px 15px;
  flex: 1 1 300px;
  background: #3d3d3d;
  transition: background-color 0.5s ease-in;
}
.our-services .container .services-list .services-item .headline {
  margin-top: 49px;
}
.our-services .container .services-list .services-item .caption {
  margin-top: 13px;
  line-height: 1.3em;
  text-align: center;
}
.our-services .container .services-list .services-item .button {
  margin-top: 28px;
  font-size: 12px;
  color: white;
  padding: 7px 23px;
  background-color: #959595;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: Sansation, sans-serif;
}
.our-services .container .services-list .services-item:hover {
  background-color: rgba(6, 191, 207, 0.5);
}

/*# sourceMappingURL=style.css.map */
